<launch> 
   
        <!-- declare flight height for swarm to fly -->
        <param name="patrolHeight" type="double" value="8" />

        <!-- simiulation run -->
        <node pkg="motion"
        type="mul_launch1.sh" name="run_mul_launch1"
        output="screen"
        />

        <node pkg="motion"
        type="mul_launch2.sh" name="run_mul_launch2"
        output="screen"
        />

        <node pkg="motion"
        type="rand_walks.sh" name="run_rand_walks"
        output="screen"
        />

        <node pkg="motion"
        type="plots.sh" name="run_plots"
        output="screen"
        />

</launch> 